@charset "UTF-8";
/* Hauptseite Stylesheet */
#content {
  line-height : 133%;
  padding : 1px 0 11px 0;
  float: right;
  margin-left: 0; /* -81.65%; */
  margin-right: 0; /* 18.35%; */
  width : 800px; /* 62.95%; */
  z-index : 3;
}
#content-wrapper {
  padding : 1em 1.75em 1em 1.75em;
}
#content-wrapper *, #content-wrapper p, #content-wrapper div *, #content-wrapper div p {
  line-height : 1.4em;
}
/* Listen Elemente */
#content ul {
  list-style : square;
  list-style-position : outside;
  list-style-image : url(../pic/bullets.png);
  margin : 0.75em 0 1em 1.22em;
  padding : 0;
}
#content ul li {
  padding : 0;
  margin : 0 0 0.2em 0;
}
#content ol ul li {
  padding : 0;
  margin : 0 0 0.2em 0;
}
#content ol {
  list-style : decimal;
  list-style-position : outside;
  margin : 0.75em 0 1em 1.77em;
  padding : 0;
}
#content ol li {
  padding : 0;
  margin : 0 0 0.2em 0;
}
/* Navigationsleiste */
.navigationview {
  font-size : 90%;
  margin : 12px 0 0 2px;
}
#content .navigationview ol {
  display : inline;
}
#content .navigationview li {
  display : inline;
  padding-left : 7px;
  padding-right : 3px;
  background : url(../pic/arrow_sep.png) no-repeat;
}
#content .navigationview li:first-child {
  padding-left : 0;
  background : transparent;
}
#content .navigationview a {
  color: #333;
}
/* Druckerleiste */
#content .toolline {
  float: left;
  width: 100%;
  border-top : 1px solid #d9e2e6;
  padding : 0.35em 0 0 0;
  height : 0.5em;
  margin : 1em 0 2em 0;
  text-align : right;
}
#content .toolline img {
  margin : 0 0.5em 0 1em ;
}
/* Trennstrich */
#content hr {
	width: 100%;
  border : none;
  border-top : 1px solid #d9e2e6;
}
/* Überschriften */
#content h1 {
  font-size : 110%;
  line-height : 121%;
  color : #0a5096;
  margin : 0 0 1em 0;
}
#content h2, #content h3 {
  font-size : 100%;
  line-height : 121%;
  color : #0a5096;
  margin : 0;
}
#content h3, #content h5 {
  color : #333333;
}
#content h4 {
  color : #0a5096;
}
/*
#content a:visited {
  color : #0a5096;
}
#content a.email {
  font-style : italic;
  background-image : none;
  padding : 0;
  text-decoration : none;
}
#content a.doc {
  padding-left : 12px;
  background : url(../pic/doc.png) no-repeat;
}
#content a img {
  border : none;
  vertical-align : middle;
}
#content img {
  border : none;
}
#content .lines {
  line-height : 1.3em;
  font-size : 100%;
  margin : 1.5em 0 1em 0;
  padding : 0.2em 0 0.3em;
  border-top : 3px solid #dbe2e9;
  border-bottom : 1px solid #edf1f3;
}

#content hr.small {
  border : none;
  border-bottom : 1px solid #edf1f3;
}


#content hr.line4px_top {
  border : none;
  border-top: #DBE2E9 1px solid;
  background-color: #EDF1F3;
  height : 4px;
  margin : 0 0 1em 0;
}

#content hr.line4px_bottom {
  border : none;
  border-bottom: #DBE2E9 1px solid;
  background-color: #EDF1F3;
  height : 4px;
  margin : 1em 0 0 0;
}

#content p {
  margin : 0 0 1em 0;
}
* html #content h5 {
  height : 1.3em;
}
#content .img-caption-floatleft {
  float : left;
  margin : 0.2em 17px 1em 0;
  width : auto;
}
#content .img-caption-floatleft p {
  font-size : 83%;
  line-height : 121%;
  margin : 0px 0 0.2em 0;
  padding : 0;
}


#content table {
  margin : 0 0 1.66em 0;
  border-collapse : collapse;
  border : none;
  font-size : 100%;
}
#content table caption {
  font-weight : bold;
  text-align : left;
  border : 1px solid #cdd9dd;
  border-width : 3px 0 1px;
  padding : 0.5em;
}
#content td {
  padding : 0.1em;
  border : none;
  background-color : transparent;
}
#content th {
  text-align : left;
  vertical-align : top;
  font-weight : bold;
  padding : 0.5em;
  border : none;
  background-color : transparent;
}
#content th em {
  font-weight : normal;
}
#content th span.non-uppercase {
  text-transform : none;
}
#content table td.highlighted {
  background-color : #f4f6f8;
  border : 1px solid #cdd9dd;
  border-width : 1px 0;
}
#content table tr.highlighted td {
  background-color : #f4f6f8;
  border : 1px solid #cdd9dd;
  border-width : 1px 0;
}
#content table tr.last td {
  background-color : #f4f6f8;
  border : 1px solid #cdd9dd;
  border-width : 1px 0 3px;
  font-weight : normal;
}
#content img.banner {
  margin : 0 0 0 -1.4em;
}
#content table {
  margin : 0 0 1.66em 0;
  border-collapse : collapse;
  border : none;
  font-size : 100%;
  color : #333;
}
#content table caption {
  font-weight : bold;
  text-align : left;
  border : 1px solid #cdd9dd;
  border-width : 3px 0 1px;
  padding : 0.5em;
}
#content table tr {
  text-align : left;
  vertical-align : top;
}
#content table {
  padding : 0.1em;
}
#content table td {
  padding : 0.5em;
}
#content .gitternetz {
  border : 3px solid #dbe2e9;
  border-width : 3px 1px 3px 1px;
  border-collapse : collapse;
  width:100%;
}
#content .gitternetz th {
  text-align : left;
  background-color : #edf1f3;
  border : 1px solid #dbe2e9;
  border-width : 1px 0 1px 1px;
  border-collapse : collapse;
}
#content .gitternetz td {
  text-align : left;
  border : 1px solid #dbe2e9;
  border-width : 1px 0 1px 1px;
  border-collapse : collapse;
}
#content .highlighted {
  background-color : #edf1f3;
}

#content .content-left {
  width: 264px;
  float: left;
  margin-right: 9px;
  margin-top: 12px;
  clear:left;
}

#content .content-right {
  width: 264px;
  float: left;
  margin-left: 9px;
  margin-top: 12px;
}

#content .content-box-left {
  border : 1px solid #dbe2e9;
  width: 263px;
  float: left;
  margin-right: 9px;
  margin-top: 6px;
  margin-bottom: 12px;
  clear:left;
}

#content .content-box-right {
  border : 1px solid #dbe2e9;
  width: 263px;
  float: left;
  margin-left: 9px;
  margin-top: 6px;
  margin-bottom: 12px;
}

#content .content-box-left h1, #content .content-box-left h2, #content .content-box-left h3,
#content .content-box-right h1, #content .content-box-right h2, #content .content-box-right h3{
  background-color : #edf1f3;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#content .content-box-left p,
#content .content-box-right p {
  padding: 5px;
}

#content  .content-box-left dd,
#content  .content-box-right dd {
  padding-left: 5px;
}

#content .content-box-left ul *,
#content .content-box-right ul * {
  padding-left: 5px;
  padding-right: 5px;
}

#content .content-box-left ul,
#content .content-box-right ul {
  padding-left: 5px;
  padding-right: 5px;
}

#content .content-box-left img,
#content .content-box-right img{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#content .content-box {
  border : 1px solid #dbe2e9;
  width: 547px;
  margin-right: 9px;
  margin-bottom: 12px;
  margin-top: 12px;
  clear: both;
}

#content .content-box h1, #content .content-box h2, #content .content-box h3 {
  background-color : #edf1f3;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#content .content-box p {
  padding: 5px;
}

#content .content-box dd {
  padding-left: 5px;
}

#content .content-box ul * {
  margin-left: 5px;
  margin-right: 5px;
}

#content .content-box img{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

#content table td {
  padding: 0.1em;
}
#content table p {
  margin:0 0 0em;
}

#content .csc-textpic-caption {
   font-size: 10px;
   color: #646464;
}
/* end */
