@charset "UTF-8";
/* Kopfzeilen Stylesheet */
#header {
  background : url(../pic/TUM_Header_Background.png) repeat-x;
  height : 117px;
  position : relative;
  border : 2px solid #fff;
  border-width : 0 2px;
  z-index:90;
}
#header h1, #header h2, p#claim, p#subclaim, p#foto {
  text-indent : -99999px;
}
#header h1 {
  background : url(../pic/TUM_Logo.png) no-repeat;
  position : absolute;
  z-index : 333;
  left : 0px;
  top : 0px;
  height : 117px;
  width : 230px;
  margin : 0;
}
#header * a {
  display : block;
  height : 100%;
  outline : none;
  text-decoration : none;
  width : 100%;
}
#header h2 {
  position : absolute;
  z-index : 111;
  width : 783px;
  height : 117px;
  margin : 0;
	left : 0px;
	background-image: url(../pic/TUM_Header.png);
	background-repeat: no-repeat;
}
#header p#claim {
  position : absolute;
  width : 100px;
  height : 117px;
  margin : 0;
	left : 549px;
}
#header p#subclaim {
	bottom : 0;
  margin : 0;
  position : absolute;
  z-index : 222;
  width : 85%;
  height :117px;
  background : url(../pic/TUMEI_Logo.png) no-repeat 0 0;
}
#header p#foto {
	margin : 0;
  position : absolute;
  z-index : 333;
  left : 783px;
  height : 117px;
  width : 230px;
	background : url(../pic/image.jpg) no-repeat;
}
/* end */
