@charset "UTF-8";
/* Fußzeile Stylesheet */
#footer {
  clear : both;
  background-color : #dedede;
  padding : 4px 0 6px 9px;
  font-size : 90%;
  position : relative;
  height : 1em;
  border : 2px solid #fff;
  border-width : 0 2px 2px;
  color : #666;
}
#footer a {
  color : #666;
  text-decoration : none;
}
#footer ul.footer {
  display : inline;
}
#footer .footer li {
  display : inline;
	margin-right : 0.75em;
  text-decoration : none;
  white-space : nowrap;
}
/* end */
