@charset "UTF-8";
/*** Navigation Stylesheet **************************/
#navigation {
  width: 160px;
  z-index: 2;
  margin-left: 0;
  margin-right: -5px;
  float: left;
}
h3.navigationlist {
	background-color: #fff;
	height: 29px;
	width: 159px;
	padding-bottom: 0;
}
/*** Navigations Menü *******************************/
ul.navigationlist {
  margin: 0 0 50px 0;
  padding: 0;
  border-bottom: 1px solid #c4d2d8;
  width: 100%;
}
ul.navigationlist li {
  list-style-type: none;
  border-top: 1px solid #a3b7c7;
  background-color: #dbe2e9;
  position: relative;
	cursor: pointer;
}
ul.navigationlist li li {
  background-color : #eef2f5;
  border-top: 1px solid #c4d2d8;
}
ul.navigationlist li li li {
  background-color: #fff;
}
/******************************* Listeneinträge *****/
ul.navigationlist ul {
  margin: 0;
  padding: 0;
}
ul.navigationlist li a {
  display: block;
  text-decoration: none;
  color: #004682;
  padding: 0.4em 1.33em 0.5em 22px;
  outline: none;
  font-size: 100%;
}
ul.navigationlist li a:hover {
  color: #469be6;
}
ul.navigationlist li > a.selected {
	font-weight: bold;
}
ul.navigationlist li > a:hover.selected {
	color: #004682;
	cursor: default;
}
ul.navigationlist li.childs > a {
	background: url(../pic/arrow_nav_left.png) no-repeat 7px 8px;
	padding-right: 6px;
	cursor: pointer;
}
ul.navigationlist li.childs > a:hover {
	color: #469be6;
	cursor: pointer;
}
ul.navigationlist li.childs.active > a {
	background: url(../pic/arrow_nav_down.png) no-repeat 7px 8px;
	padding-right: 6px;
}
/*
.tooltip ul {
  display:none;
}
.tooltip {
  position:relative;
  z-index:24;
  text-decoration:none;
}
.tooltip:hover {
  z-index:25;
  background-color:#dbe2e9;
}
.tooltip:hover ul {
  display:block;
  position:absolute;
  top:2em;
  border:1px solid #e0e4e7;
  background-color:#fff;
  color:#000;
  padding:0.5em;
  padding-left:2em;
  text-align:left;
  font-weight:normal;
  font-size:90%;
}
#right .tooltip:hover ul {
  right:0;
}
li.collapsed ul {
    display: none;
}
li.collapsed:hover > ul {
    z-index: 10;
    width: 14em;
    position : absolute;
    left : 14em;
    top: -2px;
    display: block;
    border-top: 1px solid #e0e4e7;
    border-bottom: 1px solid #e0e4e7;
    margin-left:-2px;
}
li.collapsed:hover > ul li {
    border-right: 1px solid #e0e4e7;
    border-left: 1px solid #e0e4e7;
}
li.collapsed:hover > ul li:first-child {
    border-right: 1px solid #e0e4e7;
    border-left: 0;
}
/* end */
