@charset "UTF-8";
/* Personaltools Stylesheet */
#personaltools {
  background-color : #dedede;
  font-size : 90%;
  height : 17px;
  margin-top : 2px;
  padding-top : 3px;
  padding-left : 9px;
  position : relative;
  border : 2px solid #fff;
  border-width : 0 2px 0 2px;
}
#personaltools strong {
  font-weight : normal;
}
#personaltools a {
  color : #333;
}
#personaltools h3, #personaltools p {
  display : none;
}
#audience {
  background-color : #f7f7f7;
  height : 23px;
  border : 2px solid #fff;
  border-width : 0 2px 0 2px;
  text-align : center;
}
#audience li {
  font : bold 1em arial;
  display : inline;
  border-left : 1px solid #a3b7c7;
  line-height : 23px;
  padding : 0 8px;
}
#audience li:first-child {
  border-left : none;
}
#audience a {
  color : #004682;
  text-decoration : none;
}
#audience strong, #audience strong *, #audience a:hover {
  color : #469be6;
}

#audience h3, #audience p {
  display : none;
}
/* end */
