@charset "UTF-8";
/* Neuigkeiten Stylesheet */
#news {
  background-color : #fff;
  float : right;
  padding : 0 0 20px 11px;
  z-index : 2;
  width : 18.35%;
  float:right;
  margin-right: 0%;
}
/*
#newsboard h2 {
  font-size : 100%;
  text-transform : none;
  margin : 0;
  padding : 0.3em 0 0.6em;
  border-top : 9px solid #e8eff1;
}
#newsboard h3 {
  margin-left : 150px;
}
#newsboard h5 {
  margin : 0 0 0.5em 0;
  clear : left;
}
#newsboard h6 {
  margin-left : 150px;
}
#newsboard p.main {
  margin-left : 150px;
}
#newsboard .img-caption-floatleft {
  margin : 0 20px 8px 0;
  width : 130px;
}
#newsboard .newsboard-newsseparator {
  border-top : 1px solid #cdd9dd;
  height : 1px;
  line-height : 1px;
  font-size : 0.5em;
  margin-bottom : 1em;
}
#news-content h2 {
  font-size : 100%;
  text-transform : none;
  margin : 0;
  padding : 0.3em 0 0.6em;
}
#news-content h3 {
  margin-left : 0;
}
#news-content h5 {
  margin : 0 0 0.5em 0;
  clear : left;
}
#news-content h6 {
  margin-left : 0;
}
#news-content p {
  margin-left : 0;
}
#news-content .img-caption-floatleft {
  margin : 0 20px 0 0;
  width : 130px;
}
/* end */
