@charset "UTF-8";
/* Basis Stylesheet */
* {
  margin : 0;
  padding : 0;
}
body {
  background-color : #edf1f3;
  color : #333;
  font-family : Arial, Helvetica, sans-serif;
  font-size : 80%;
  margin : 0 16px 16px 16px;
}
a {
  text-decoration : none;
}
a:link {
  color : #0a5096;
}
a:hover {
  text-decoration : underline;
}
a img {
  border : none;
}
/* Seiteneinteilung */
#visual-wrapper {
  background : #fff url(../pic/background_left.png) repeat-y 2px 0;
  border : 1px solid #b2b2b2;
  border-width : 0 1px 1px;
  width : 964px;
  margin : 0 auto;
}
#main-wrapper {
  border-spacing : 0;
  font-size : 100%;
  padding : 0 2px;
}
/* Seitenausrichtung */
.right {
  position : absolute;
  right : 0;
  margin-right : 9px;
  display : inline;
}
.center {
  position : absolute;
  right : 19em;
  display : inline;
}


/*
.documentBody {
  max-width : 43.6em;
  padding : 0;
  margin : 0;
  background-color : #fff;
}

.language {
  position : absolute;
  right : 0;
  margin-right : -10px;
  display : inline;
}
.language strong {
  display : none;
}

.align-justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#print_logo {
  display : none;
}










form#search-box, a#advancedsearchlink {
  background-color : #edf1f3;
  border : 1px solid #d3dee3;
  border-width : 1px 0 1px 0;
  padding : 0.4em 0 0.5em 0.75em;
  margin : 0;
}
#search-box label {
  display : none;
}
input#search-field {
  font-size : 90%;
  font-family : Arial, Helvetica, sans-serif;
  width : 11ex;
  border : none;
  color : #333333;
  background : #fff url(../pic/detail.png) no-repeat 2px -1px;
  padding : 1px 2px;
  padding-left: 3.0ex;
  vertical-align : middle;
  margin-right : 2px;
}
input#search-button {
  font-size : 90%;
  font-family : Arial, Helvetica, sans-serif;
  background-color : #edf1f3;
  border : none;
  padding : 1px 0 0 0;
  color : #333333;
  vertical-align : middle;
  text-align : right;
}
a#advancedsearchlink {
  font-size : 90%;
  display : block;
  border-width : 0 0 1px 0;
  color : #333;
  text-decoration : none;
}






ul.tool {
  display : inline;
}
.tool * {
  color : #333;
  margin-right : 0.75em;
  text-decoration : none;
  white-space : nowrap;
}
.center .tool * {
  margin-right:0.1em;
}
#content .tool a {
  color : #333;
}
.tool li {
  display : inline;
}
.tool p {
  display : inline;
}
.tool_login, #content .tool_login {
  padding-left : 16px;
  background : url(../pic/login.png) no-repeat 0 -4px;
}
.tool_help, #content .tool_help {
  padding-left : 16px;
  background : url(../pic/help.png) no-repeat 0 -4px;
}
.tool_print, #content .tool_print {
  padding-left : 16px;
  background : url(../pic/print.png) no-repeat 0 -4px;
}
.tool_mail, #content .tool_mail {
  padding-left : 16px;
  background : url(../pic/mail.png) no-repeat 0 -4px;
}
.tool_doc, #content .tool_doc {
  padding-left : 16px;
  background : url(../pic/doc.png) no-repeat 0 -4px;
}
.tool_top, #content .tool_top {
  padding-left : 12px;
  background : url(../pic/arrow_N.png) no-repeat 0 4px;
}

.calendar {
  border-collapse:collapse;
  padding:0;
  border:1px solid #e0e4e7;
  background:#f6f6f6;
  width:100%;
}
.calendar td {
  padding:2px;
  text-align:center;
  border:1px solid #e0e4e7;
}
.calendar td.today  {
  background:#dbe2e9;
}
.calendar td a {
  text-decoration:none;
  font-weight:bold;
  color:#333;
  padding:0;
}
.calendar th {
  padding:2px;
  text-align:center;
  color:#333;
  font-weight:normal;
}
.calendar th a {
  text-decoration:none;
  color:#333;
}


.calendar caption {
  margin-left:-1px;
  font-size : 87%;
  font-weight : bold;
  border : 1px solid #e0e4e7;
  color : #333;
  padding : 0.6em 1em;
  background:#f6f6f6;
  margin-top:15px;
  text-align:left;
}
.calendar caption a {
  padding-right:10px;
  background:url(../pic/feed-icon.png) no-repeat right;
}

@media handheld, projection, screen, tty, tv  {

input#search-button {
  cursor : pointer;  }
.portlet_no_box .portletContent input.context.widget {
  cursor : pointer;  }
}

#content .news-data-line_v1 {
  border-bottom: 1px solid #E8EFF1;
  border-top: 3px solid #CDD9DD;
  margin-top: 8px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#content .news-list-item_v1 {
	clear: both;
}

#content .news-list-item_v1 img{
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  margin-left: 0;
}

#content .news-latest-item,
.tx-ttnews-browsebox ,
.news-list-browse{
	clear: both;
}


#content .news-latest-item img{
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  margin-left: 0;
}


#content .news-content {
  padding-top:5px;
}

#content .csc-textpic-text ul li {
  margin-left: 1.1em;
}
#content .csc-textpic-text ol li {
  margin-left: 1.8em;
}
#content .csc-textpic-imagerow ul {
  margin: 0;
}

a[target='_blank'] {
  padding-left: 15px;
  background: url('icon/external_link_new_window.gif') left center no-repeat transparent;
}

.csc-textpic-image a[target='_blank'],
.csc-textpic-imagewrap a[target='_blank'],
.csc-uploads-icon a[target='_blank'] {
  padding-left: 0;
  background: none;
}
.navigationlist a[target='_blank'] { background-image: none; }

table.csc-uploads-3 tr
{
  display: inline-block;
  width: 142px;
  margin: 0 -3px 2.5em;
}
#right table.csc-uploads-3 td,
#content table.csc-uploads-3 td
{
  display: block;
  padding: 0;
}

#content .ie table.csc-uploads-3 tr, #right .ie table.csc-uploads-3 tr { float: left; }
#content .ie table.csc-uploads-3 td, #right .ie table.csc-uploads-3 td { float: left; }
#content .ie table.csc-uploads-3 tr.tr-break, #right .ie table.csc-uploads-3 tr.tr-break { clear: left; }
#content .ie table.csc-uploads-3 img, #right .ie table.csc-uploads-3 img { width: 120px; }
#content table.csc-uploads-3 td.csc-uploads-icon,
#right table.csc-uploads-3 td.csc-uploads-icon
{
  height: auto;
  padding-bottom: 0px;
}
#content table.csc-uploads-3 td.csc-uploads-icon img,
#right table.csc-uploads-3 td.csc-uploads-icon img
{
  max-width: 120px;
  height: auto;
  border: outset thin #ccc;
}
#right table.csc-uploads-3 td.csc-uploads-icon img {
  max-width: 80px;
}
#content table.csc-uploads-3 p.csc-uploads-description,
#right table.csc-uploads-3 p.csc-uploads-description
{
  color: #646464;
  font-size: 10px;
  width: 120px;
  line-height: 1.4em;
}
#content table.csc-uploads-3 a.download,
#right table.csc-uploads-3 a.download
{
  background: transparent url(/fileadmin/tu/layout/icon/download.gif) no-repeat 0 -5px;
  padding-left: 16px;
}
#content table.csc-uploads td.csc-uploads-fileSize
{
  font-size: smaller;
  white-space: nowrap;
}


#content ul.csc-menu.csc-menu-3.layout-1 {
 min-height: 1.4em;
 border-bottom: solid 1px #c4d2d8;
 margin-left: 0;
 padding-left: 0.5em;
}

#content ul.csc-menu.csc-menu-3.layout-1 li {
 float: left;
 list-style-type: none;
 list-style-image: none;
 margin: 0 .5em 3px 0;
 padding-left: .5em;
 border-left: solid 1px #c4d2d8;
}

#content ul.csc-menu.csc-menu-3.layout-1 li:first-child {
 border-left-style: none;
}

#content ul.csc-menu.csc-menu-3.layout-1:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
/* end */
